@import './resets';
@import './variables';



.main{ 
    background-color: $background-color;
}

textarea, input, button{
    border: none !important;
    box-shadow: none !important;
}

//header
nav{
    .logo{
        height: 50px;
    }
    ul{
        li{
            line-height: 40px;
            text-align: center;
           a{ 
               @include title-text($color1 !important, small, h2, $f1);
            }
        }
        .profile-btn{
            color: $color1 $i;
            font-family: 'Hammersmith One', sans-serif;
            font-weight: weight(small);
            font-size: fontsize(h2);

        }
        .reg-btn{
            @include primary-btn(small,reg,$color1);
            color: $background-color !important;
        }
        .reg-btn:active{
            background-color: $color2 !important;
        }
        .dropdown{
            .dropdown-menu{
                background-color: $background-color !important;
                border: 1px solid $color1 !important;
                overflow: hidden !important;
                li{
                    a{
                        @include title-text($color1, small, h2, $f1);
                    }
                    a:hover{
                        background-color: $color2 !important;
                        transition: 1s;
                    }
                }
                
            }
        }
    }
}

//registration

.reg-div{

    background-color: $background-color;
    min-height: 90vh !important;

    .right-div{
    //    @include flex_start();
        h1{
            @include title-text($color1, large, h1, $f1);
        }
        h2{
            @include title-text($color2, small, h2, $f1);

            a{
                text-decoration: none;
                color: $color1;
            }
        }

        .form-group{
            label{
                @include title-text($color1, small, lbl, $f1);
            }
            .form-control, input, textarea{
                @include input-field();
            }
            input:focus, textarea:focus{
                outline: none !important;
            }
            .error-meessage{
                color: red;
                font-size: fontsize(reg);
            }
        }
        button{
            @include primary-btn(small,btn,$color1);
            filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
        }
        button:active{
            background-color: $color2 !important;
            color: $color1;
        }
        
    }
    
}

//home
.home-div{
    background-color: $background-color;
    min-height: 95vh;
    
    .right-div{
        h1{
            @include title-text($color1, large, tle, $f1);
            letter-spacing: 0.05em;
            font-size: 70px !important;
        }
        h2{
            @include title-text($color2, large, h, $f2);
        }
        button{
            @include primary-btn(small,btn,$color2);
            color: $color1 !important;
            letter-spacing: 0.05em;
            filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
        }
        button:active{
            background-color: $color4 !important;
        }
    }
    .left-div{
        display: inline-block;
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    
}


.records-div{
    background-color: $plain;
    min-height: 100vh;

    .head-div{
        background-color: $color1;
        border-radius: 35px;
        filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
        h3{
            @include title-text($color4, small, h, $f1);
        }
        input{
            border: none !important;
            border-radius: 20px;
            color: $text-color !important;
            outline: none !important;
        }
        
        .btn{
            @include primary-btn(small,btn,$color2);
            color: $color1;
        }
        .btn:active{
            @include primary-btn(small,btn,$color4);
            color: $color1;
        }
    }
    .display-rec{
        border-bottom: 1px solid rgba($color: $color1, $alpha: 0.5);

        h3{
            @include title-text($color1, large, h, $f1);
            font-weight: 600 !important;
            letter-spacing: 0.08em;
            line-height: 1em;
        }
    
        h2{
            @include title-text($text-color, large, reg, $f2);

        }
        .dropdown{
            button{
                background-color: transparent !important;
                img{
                    height: 25px;
                    width: 25px;
                }
            }
            .dropdown-menu{
                background-color: $background-color !important;
                border: none !important;
                overflow: hidden !important;
                li{
                    overflow: hidden !important;
                    a{
                        @include title-text($color1, small, lbl, $f2);
                    }
                    a:hover{
                        background-color: $color2 !important;
                        transition: 1s;
                    }
                }
                
            }
            
        }
        p{  
            min-height: 5vh;
            @include title-text($text-color, small, reg, $f2);
        }
        .react{
            background-color: $background-color;
            border-radius: 20px;
            width: 50px;
        }
        .modify{
            img{
                width: 25px;
                height: 25px;
            }
            .btn{
                @include primary-btn(small,btn,$color2);
                background-color: $color3 !important;
                width: 50px;
            }

        }
        .react_div{
            background-color: $background-color;
            border-radius: 20px;
            filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
            .react-btn{
                border-radius: 20px;
                overflow: hidden !important;
                padding: 0.5em !important;
                cursor: default  !important;
            }
            img{
                height: 25px;
                width: 25px;
            }
            .Heart1, .Happy2, .Sad3, .Neutral4{
                background-color: $color1 !important;
            }

        }
        

    }
    .result_message{
        h1{
            @include title-text($color1, large, tle, $f1);
        }
        
        h2{
            a{
                @include title-text($color1, medium, h1, $f3);
                text-decoration: none !important;
            }
        }
        h3{
            a{
                @include title-text($color2, medium, h2, $f3);
                text-decoration: none !important;
            }
        }
        

    }
}

//create div
.create-div{
    background-color: $background-color;
    min-height: 90vh;

    .top-div{
        background-color: $color1;
        border-radius: 20px;
        h2{
            @include title-text($plain, medium, h1, $f1);
        }
    }
    .bot-div{
        .character{
            height: 40px;
            width: 40px;
            border-radius: 20px;
            background-color: $color2;
            overflow: hidden !important;
        }

        h3{
            @include title-text($color1, large, h, $f2);
            letter-spacing: 0.05em;
            line-height: 1em;
        }

        h2{
            @include title-text($text-color, small, h, $f3);
            font-weight: 300 !important;
        }
        
        textarea{
            @include input-field();
            background-color: $plain !important;
          //  filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
            
        }
        textarea:focus{
            outline: none !important;
        }
        ul{
            background-color: $plain;
            border-radius: 20px;
            list-style-type: none;
         //   filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
            li{
                border-radius: 20px;
                position: relative;
                overflow: hidden !important;
                padding: 0.5em !important;
            }
            li:hover{
                background-color: #756FAE;     
            }
            img{

                height: 25px;
                width: 25px;
                position: relative;
            }

            label{
                height: 100% !important;
                z-index: 1;
            }
            input{
                width: 100% !important;
                height: 100% !important;
                opacity: 0;
                position: absolute;
                z-index: 0;
            }
            .react_selected{
                background-color: $color1 !important;
                transition: 1s;
            }
            .Heart1, .Happy2, .Sad3, .Neutral4{
                background-color: $color1 !important;
            }

        }

        .save-btn{
            @include primary-btn(small,btn, $color1);
            filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
        }
        .save-btn:active{
            @include primary-btn(small,btn,$color2);
        }
      
    }
    
}

//profile

.profile-div{
    min-height: 100vh;
    .left-div{
        background-color: $plain;
        border-radius: 20px;
        overflow: hidden !important;
        .top-div{
            background-color: $color1;
            .dropdown{
                button{
                    background-color: transparent !important;
                    img{
                        height: 25px;
                        width: 25px;
                    }
                }
                .dropdown-menu{
                    background-color: $background-color !important;
                    border: none !important;
                    overflow: hidden !important;
                    li{
                        overflow: hidden !important;
                        a{
                            @include title-text($color1, small, lbl, $f2);
                        }
                        a:hover{
                            background-color: $color2 !important;
                            transition: 1s;
                        }
                    }
                    
                }
                
            }
            .circle{
                background-color: $color2;
                width: 150px !important;
                height: 150px !important;
                border-radius: 50%;
             //   border: 4px solid $background-color;
                h3{
                    @include title-text( $background-color, medium, tle, $f1);
                    font-size: 70px !important;
                    line-height: 0;
                }
    
            }
            p{
                @include title-text( $background-color, medium, h1, $f1);
                line-height: 1.6rem;
                text-transform: uppercase;
            }
        }
        .bot-div{
            .name{
                @include title-text($color1, medium, h, $f1);
                line-height: 1.6rem;
                text-transform:uppercase;

            }
            .date{
                @include title-text($text-color, medium, h, $f3);
                line-height: 1.6rem;

            }
            button{
                @include primary-btn(small,btn, $color2);
                color: $color1;
            }
            label{
                @include title-text( $color1, medium, h2, $f1);

            }
            input{
                border-radius: 20px !important;
            }

        }

    }
}


//footer
footer{
    background-color: $color1;

    .logo{
        width: 100px;
    }
    p{
        @include title-text($background-color, medium, h, $f3);
        line-height: 0;
        letter-spacing: 1px;
    }
    .initial{
        width: 40px;
        height: 40px;
        border-radius: 25px;
        background-color: $plain ;
        text-decoration: none !important;
        @include title-text($color1, large, h2, $f1);
        
    }
    .initial:hover{
        background-color: $color2 ;
        color: $color1;
        box-shadow: 0px 0px 16px 4px rgba($color: #FFA9DC, $alpha: .8);
        transition: 1s;
        animation: pulse 3s linear infinite;
    }

    h3{
        @include title-text($color2, medium, h2, $f3);
        line-height: 0;
        a{
            text-decoration: none !important;
            color: $color4;
        }
        a:hover{
            text-decoration: none !important;
            color: $color4;
        }
    }
}

//admin


.admin-login{
    min-height: 100vh;
    h2{
        @include title-text($color1, large, h1, $f1);
    }
   

    .form-group{
        label{
            @include title-text($color1, small, lbl, $f1);
        }
        .form-control, input, textarea{
            @include input-field();
        }
        input:focus, textarea:focus{
            outline: none !important;
        }
        .error-meessage{
            color: red;
            font-size: fontsize(reg);
        }
    }
    button{
        @include primary-btn(small,btn,$color1);
        filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
    }
    button:active{
        background-color: $color2 !important;
        color: $color1;
    }

}

.admin{

    .admin-1{
        h1{
            @include title-text($color1, medium, h1, $f1);
    
        }
        .acard{
            background-color: $plain;
            border-radius: 20px;
            h2{
                @include title-text($color1, medium, tle, $f1);

            }
            p{
                @include title-text($color1, large, lbl, $f2);

            }
        }
    }
    
}





@keyframes blinker {
    10% {
        opacity: 0.3;
    }
    20% {
        opacity: 0.6;
    }
    50% {
      opacity: 0.9;
    }
}

@keyframes example {
    0%   {transform: translateY(0px)}
    50%  {transform: translateY(10px)}
    100% {transform: translateY(0px)}
}

._1{
    background-color: $color1 !important;
}

._2{
    background-color: pink;
}