@import './resets';
@import './variables';



.main{ 
    background-color: $background-color;
}

//navigation tab
nav{
    .logo{
        height: 40px;
    }
    ul{
        li{
            line-height: 40px;
            text-align: center;
           a{ 
               @include title-text($color1 !important, small, h2, $f1);
            }
        }
        button{
            color: $background-color $i;
            background-color: $color1 $i;
            font-family: 'Hammersmith One', sans-serif;
            font-weight: weight(small);
            font-size: fontsize(h2 $i);
            border-radius: 25px $i;
        }
    }
}

//registration

.reg-div{

    background-color: $background-color;
    min-height: 80vh !important;

    .right-div{
    //    @include flex_start();
        h1{
            @include title-text($color1, large, h1, $f1);
        }
        h2{
            @include title-text($color2, small, h2, $f1);

            a{
                text-decoration: none;
                color: $color1;
            }
        }

        .form-group{
            label{
                @include title-text($color1, small, lbl, $f1);
            }
            .form-control, input, textarea{
                @include input-field();
            }
            input:focus, textarea:focus{
                outline: none !important;
            }
            .error-meessage{
                color: red;
                font-size: fontsize(reg);
            }
        }
        button{
            @include primary-btn(small,btn);
        }
    }
    
}

//home

.home-div{
    background-color: $plain;
    min-height: 70vh;
    .right-div{
        h1{
            @include title-text($color1, large, tle, $f2);
            letter-spacing: 0.05em;
        }
        h2{
            @include title-text($color2, medium, lbl, $f2);
            font-size: 1.5rem !important;
        }
        button{
            @include primary-btn(small,btn);
        }
    }
    
}

.records-div{
    .head-div{
        background-color: $color1;
        border-radius: 35px;
        h3{
            @include title-text($plain, small, h, $f1);
        }
        input{
            border: none !important;
            border-radius: 25px;
            color: $text-color !important;

        }
        .btn{
            @include primary-btn(small,reg);
            background-color: $color3;
            color: $color1 !important;
        }
    }
    .display-rec{
        .character{
            height: 40px;
            width: 40px;
            border-radius: 25px;
           // background-color: $color3;
                img{
                    width: 40px;
                    height: 40px;
                }
        }
    
        h3{
            @include title-text($color1, large, h2, $f2);
            letter-spacing: 0.05em;
            line-height: 1em;
        }
    
        h2{
            @include title-text($text-color, medium, h2, $f3);
            font-weight: 300 !important;
        }
        p{  
            min-height: 10vh;
            @include title-text($text-color, small, reg, $f2);
        }
        .react{
            background-color: $color3;
            border-radius: 25px;
            width: 50px;
            
        }
        .modify{
            img{
                width: 25px;
                height: 25px;
            }
            .btn{
                @include primary-btn(small,btn);
                background-color: $color3 !important;
                width: 50px;
            }

        }
        ul{
            background-color: $plain;
            border-radius: 25px;
            list-style-type: none;
            li{
                background-color: $plain !important;
                border-radius: 25px;
                position: relative;
                overflow: hidden !important;
                padding: 0.5em !important;
            }
            img{
                height: 25px;
                width: 25px;
                
            }
            label{
                height: 100% !important;
                z-index: 1;
            }
            input{
                width: 100% !important;
                height: 100% !important;
                opacity: 0;
                position: absolute;
                z-index: 0;
            }

            .Heart1, .Happy2, .Sad3, .Neutral4{
                background-color: $color1 !important;
            }

        }
        .save-btn{
            @include primary-btn(small,btn);
        }
    }

}

//create div
.create-div{
    background-color: $background-color;
    min-height: 80vh;

    .top-div{
        background-color: $color1;
        border-radius: 25px;
        h2{
            @include title-text($plain, medium, h1, $f1);
        }
    }
    .bot-div{
        .character{
            height: 40px;
            width: 40px;
            border-radius: 25px;
            background-color: $color3;
            overflow: hidden !important;
        }

        h3{
            @include title-text($color1, large, h, $f2);
            letter-spacing: 0.05em;
            line-height: 1em;
        }

        h2{
            @include title-text($text-color, small, h, $f3);
            font-weight: 300 !important;
        }
        
        textarea{
            @include input-field();
            font-style: $f3 !important;

        }

        ul{
            background-color: $plain;
            border-radius: 25px;
            list-style-type: none;
            li{
                border-radius: 25px;
                position: relative;
                overflow: hidden !important;
                padding: 0.5em !important;
            }
            li:hover{
                background-color: $color1;
                padding: 0em !important;
                img{
                    height: 30px;
                    width: 30px;
                }
            }
            img{
                height: 25px;
                width: 25px;
                
            }
            label{
                height: 100% !important;
                z-index: 1;
            }
            input{
                width: 100% !important;
                height: 100% !important;
                opacity: 0;
                position: absolute;
                z-index: 0;
            }
            .react_selected{
                background-color: $color1 !important;
            }
            .inv{
                position: relative;
            }
        }

        .save-btn{
            @include primary-btn(small,btn);
        }
      
    }
    
}




._1{
    background-color: $color1 !important;
}

._2{
    background-color: pink;
}