@import './resets';
@import './variables';



.main{ 
    background-color: #FFFFFF;
}

textarea, input, button{
    border: none !important;
    box-shadow: none !important;
}

//header
nav{
    .logo{
        height: 40px;
    }
   
    ul{
        li{
            line-height: 40px;
            text-align: center;
           a{ 
               @include title-text($color1 !important, small, h2, $f1);
            }
        }
        .profile-btn{
            color: $color1 $i;
            font-family: 'Hammersmith One', sans-serif;
            font-weight: weight(small);
            font-size: fontsize(h2);

        }
        .reg-btn{
            @include primary-btn(small,reg,$color1);
            color: $background-color !important;
        }
        .reg-btn:active{
            background-color: $color2 !important;
        }
        .dropdown{
            .dropdown-menu{
                background-color: $background-color !important;
                border: 1px solid $color1 !important;
                overflow: hidden !important;
                li{
                    a{
                        @include title-text($color1, small, h2, $f1);
                    }
                    a:hover{
                        background-color: $color2 !important;
                        transition: 1s;
                    }
                }
                
            }
        }
        .nav-link:hover , .profile-btn:hover{
            color:$color2 !important;
        }
    }

}

//registration

.reg-div{

    background-color: $background-color;
    min-height: 80vh !important;

    .right-div{
    //    @include flex_start();
        h1{
            @include title-text($color1, large, h1, $f1);
        }
        h2{
            @include title-text($color2, small, h2, $f1);

            a{
                text-decoration: none;
                color: $color1;
            }
        }
        a{
            @include title-text($color1, small, h2, $f1);
            text-decoration: none;
        }
        .form-group{
            label{
                @include title-text($color1, small, lbl, $f1);
            }
            .form-control, input, textarea{
                @include input-field();
            }
            input:focus, textarea:focus{
                outline: none !important;
            }
            .error-meessage{
                color: red;
                font-size: fontsize(reg);
            }
        }
        button{
            @include primary-btn(small,btn,$color1);
            filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
        }
        button:active{
            background-color: $color2 !important;
            color: $color1;
        }
        
    }
    
}

.verification{
    background-color: $background-color;
    margin-top: 20vh ;
    h1{
        @include title-text($color1, medium, h, $f1);
    }
    p{
        @include title-text($color2, medium, reg, $f2);
    }
    .form-group{
        label{
            @include title-text($color1, small, lbl, $f1);
        }
        label{
            @include title-text($color1, small, lbl, $f1);
        }
        .form-control, input, textarea{
            @include input-field();
        }
        input:focus, textarea:focus{
            outline: none !important;
        }
        .error-meessage{
            color: red;
            font-size: fontsize(reg);
        }
    }
    .button_1{
        @include primary-btn(small,btn,$color1);
        filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
    }
    .button_1:active{
        background-color: $color2 !important;
        color: $color1;
    }
    .button_2{
        background-color:  $background-color;
        color: $color1;
    }
    .button_2:hover{
        color: $color2;
    }
    
}

//home
.home-div{
    background-color: $background-color;
    min-height: 85vh;
    
    .right-div{
        @media screen and (min-width: 0px){
            h1{
                @include title-text($color1, large, h2, $f1);
                letter-spacing: 0.05em;
                font-size: 35px !important;
            }
            h2{
                @include title-text($color2, large, h2, $f2);
            }
        }
        
        @media screen and (min-width: 800px){
            h1{
                @include title-text($color1, large, tle, $f1);
                letter-spacing: 0.05em;
                font-size: 50px !important;
            }
        }
        @media screen and (min-width: 1000px){
            h1{
                @include title-text($color1, large, tle, $f1);
                letter-spacing: 0.05em;
                font-size: 70px !important;
            }
            h2{
                @include title-text($color2, large, h, $f2);
            }
        }
        
        
        
        
        button{
            @include primary-btn(small,btn,$color1);
            color: $background-color !important;
            letter-spacing: 0.05em;
            filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
        }
        button:active{
            background-color: $color2 !important;
        }
    }
    .left-div{
        display: inline-block;
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    
}

.records-div{
    background-color: $background-color;
    min-height: 100vh !important;

    .head-div{
        background-color: $color1;
        //border-radius: 35px;
        filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
        h3{
            @include title-text($background-color, small, h, $f1);
        }
        input{
            border: none !important;
            border-radius: 20px;
            color: $text-color !important;
            outline: none !important;
        }
        
        .btn{
            @include primary-btn(small,btn,$background-color);
            color: $color1;
        }
        .btn:active{
            @include primary-btn(small,btn,$color2);
            color: $color1;
        }
    }
    .display-rec{
        //border-bottom: 1px solid rgba($plain, $alpha: 0.5);
       // background-color: $plain;
        h3{
            @include title-text($color1, large, h, $f1);
            font-weight: 600 !important;
            letter-spacing: 0.08em;
            line-height: 1em;
        }
    
        h2{
            @include title-text($color1, large, reg, $f2);

        }
        .dropdown{
            button{
                background-color: transparent !important;
                img{
                    height: 25px;
                    width: 25px;
                }
            }
            .dropdown-menu{
                background-color: $color1!important;
                border: none !important;
                overflow: hidden !important;
                li{
                    overflow: hidden !important;
                    a{
                        @include title-text($background-color, small, lbl, $f2);
                    }
                    a:hover{
                        background-color: $color2 !important;
                        transition: 1s;
                    }
                }
                
            }
            
        }
        p{  
            min-height: 5vh;
            @include title-text($color1, small, reg, $f2);
        }
        .text-elipsiss{
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            display: -webkit-box;
            -webkit-line-clamp: 5; /* number of lines to show */
                    line-clamp: 5; 
            -webkit-box-orient: vertical;
        }
        .react{
            background-color: $background-color;
            border-radius: 20px;
            width: 50px;
        }
        .modify{
            img{
                width: 25px;
                height: 25px;
            }
            .btn{
                @include primary-btn(small,btn,$color2);
                background-color: $color3 !important;
                width: 50px;
            }

        }
        .react_div{
            background-color: $background-color;
            border-radius: 20px;
            filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
            .react-btn{
                border-radius: 20px;
                overflow: hidden !important;
                padding: 0.5em !important;
                cursor: default  !important;
            }
            img{
                height: 25px;
                width: 25px;
            }
            .Heart1, .Happy2, .Sad3, .Neutral4{
                background-color: $color1 !important;
            }

        }
        

    }
    
    .Heart_{
        border-radius: 27px;
        background: linear-gradient(262.96deg, rgba(234, 146, 120, 0.06) 0.61%, rgba(234, 146, 120, 0.3) 96.39%);
    }
    .Happy_{
        border-radius: 27px;
        background: linear-gradient(262.96deg, rgba(255, 233, 147, 0.06) 0.61%, rgba(255, 233, 147, 0.3) 96.39%);
    }
    .Sad_{
        border-radius: 27px;
        background: linear-gradient(262.96deg, rgba(122, 189, 234, 0.06) 0.61%, rgba(122, 189, 234, 0.271892) 96.39%);
    }
    .Neutral_{
        border-radius: 27px;
        background: linear-gradient(262.96deg, rgba(247, 166, 181, 0.06) 0.61%, rgba(247, 163, 179, 0.3) 96.39%);
    }
    ._{
        border-radius: 27px;
        background: linear-gradient(262.96deg, rgba(89, 78, 196, 0.06) 0.61%, rgba(89, 78, 196, 0.3) 96.39%);    
    }
    .result_message{
        @media screen and (min-width: 0px){
            h1{
                @include title-text($color1, large, h1, $f1);
            }
            
            h2{
                a{
                    @include title-text($color1, large, h2, $f2);
                    text-decoration: none !important;
                }
            }
            h3{
                a{
                    @include title-text($color2, medium, h2, $f3);
                    text-decoration: none !important;
                }
            }
        }
        @media screen and (min-width: 800px){
            h1{
                @include title-text($color1, large, tle, $f1);
            }
            
            h2{
                a{
                    @include title-text($color1, medium, h1, $f3);
                    text-decoration: none !important;
                }
            }
            h3{
                a{
                    @include title-text($color2, medium, h2, $f3);
                    text-decoration: none !important;
                }
            }
        }
        
        

    }
    
    
    .page_div{
        a:hover{
            background-color: $color2;
            border-radius: 20px;
        }
        .arrow_next{
            text-decoration: none !important;
            @include title-text($color1, medium, h2, $f1);
            text-align: center !important;
            height: 2.5rem !important;
            background-color: rgb(219, 216, 216);
            border-radius: 20px;
            filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
        }
        .page_body{
            background-color: rgb(219, 216, 216);
            border-radius: 20px;
            filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
            .page{
                text-decoration: none !important;
                @include title-text($color1, medium, h2, $f1);
                text-align: center !important;
                width:2.5rem !important;
                height: 2.5rem !important;
            }   
            .active{
                background-color: $color1;
                border-radius: 20px;
                color: white;
            }
        }
    }
}

//create div
.create-div{
    background-color: $background-color;
    @media screen and (min-width: 0px){
        min-height: 80vh;
    }
    @media screen and (min-width: 800px){
        min-height: 90vh;
    }

    .bot-div{
        .character{
            height: 40px;
            width: 40px;
            border-radius: 20px;
            background-color: $color2;
            overflow: hidden !important;
        }

        h3{
            @include title-text($color1, large, h, $f2);
            letter-spacing: 0.05em;
            line-height: 1em;
        }

        h2{
            @include title-text($text-color, medium, h2, $f1);
            font-weight: 300 !important;
        }
        
        textarea{
            @include input-field();
            background-color: $plain !important;
          //  filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
            
        }
        textarea:focus{
            outline: none !important;
        }
        ul{
            background-color: $plain;
            border-radius: 20px;
            list-style-type: none;
         //   filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
            li{
                border-radius: 20px;
                position: relative;
                overflow: hidden !important;
                padding: 0.5em !important;
            }
            li:hover{
                background-color: #756FAE;     
            }
            img{

                height: 25px;
                width: 25px;
                position: relative;
            }

            label{
                height: 100% !important;
                z-index: 1;
            }
            input{
                width: 100% !important;
                height: 100% !important;
                opacity: 0;
                position: absolute;
                z-index: 0;
            }
            .react_selected{
                background-color: $color1 !important;
                transition: 1s;
            }
            .Heart1, .Happy2, .Sad3, .Neutral4{
                background-color: $color1 !important;
            }

        }

        .save-btn{
            @include primary-btn(small,btn, $color1);
            filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
        }
        .save-btn:active{
            @include primary-btn(small,btn,$color2);
        }
      
    }
    
}

//profile
.profile-div{
    min-height: 100vh;
    .left-div{
        background-color: $plain;
        border-radius: 20px;
        overflow: hidden !important;
        .top-div{
            background-color: $color1;
            .dropdown{
                button{
                    background-color: transparent !important;
                    img{
                        height: 25px;
                        width: 25px;
                    }
                }
                .dropdown-menu{
                    background-color: $background-color !important;
                    border: none !important;
                    overflow: hidden !important;
                    li{
                        overflow: hidden !important;
                        a{
                            @include title-text($color1, small, lbl, $f2);
                        }
                        a:hover{
                            background-color: $color2 !important;
                            transition: 1s;
                        }
                    }
                    
                }
                
            }
            .circle{
                background-color: $color2;
                width: 150px !important;
                height: 150px !important;
                border-radius: 50%;
             //   border: 4px solid $background-color;
                h3{
                    @include title-text( $background-color, medium, tle, $f1);
                    font-size: 70px !important;
                    line-height: 0;
                }
    
            }
            p{
                @include title-text( $background-color, medium, h1, $f1);
                line-height: 1.6rem;
                text-transform: uppercase;
            }
        }
        .bot-div{
            .name{
                @include title-text($text-color, large, h2, $f2);
                line-height: 1.6rem;
                text-transform:uppercase;

            }
            .date{
                @include title-text($color1, medium, h2, $f1);
                line-height: 1.6rem;

            }
            button{
                @include primary-btn(small,btn, $color2);
                color: $color1;
            }
            label{
                @include title-text( $color1, medium, h2, $f1);

            }
            input{
                border-radius: 20px !important;
            }

        }

    }
}

//footer
footer{
    background-color: $color1;

    p{
        @include title-text($background-color, medium, h2, $f1);
        line-height: 0;
        letter-spacing: 1px;
    }
    .initial{
        width: 40px;
        height: 40px;
        border-radius: 25px;
        background-color: $background-color ;
        text-decoration: none !important;
        @include title-text($color1, large, h2, $f1);
        
    }
    .initial:hover{
        background-color: $color2 ;
        color: $color1;
        box-shadow: 0px 0px 16px 4px rgba($color: #FFA9DC, $alpha: .8);
        transition: 1s;
        animation: pulse 3s linear infinite;
    }

    h3{
        @include title-text($color2, medium, h2, $f3);
        line-height: 0;
        a{
            text-decoration: none !important;
            color: $color4;
        }
        a:hover{
            text-decoration: none !important;
            color: $color4;
        }
    }
}

//admin
.admin-login{
    min-height: 100vh;
    h2{
        @include title-text($color1, large, h1, $f1);
    }
   

    .form-group{
        label{
            @include title-text($color1, small, lbl, $f1);
        }
        .form-control, input, textarea{
            @include input-field();
        }
        input:focus, textarea:focus{
            outline: none !important;
        }
        .error-meessage{
            color: red;
            font-size: fontsize(reg);
        }
    }
    button{
        @include primary-btn(small,btn,$color1);
        filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
    }
    button:active{
        background-color: $color2 !important;
        color: $color1;
    }

}

.admin{

    .admin-1{
        h1{
            @include title-text($color1, medium, h1, $f1);
    
        }
        .acard{
            background-color: $plain;
            border-radius: 20px;
            h2{
                @include title-text($color1, medium, tle, $f1);

            }
            p{
                @include title-text($color1, large, lbl, $f2);

            }
        }
    }
    
}
.admin_usertable{
  
    h3{
        @include title-text( $background-color, medium, h1, $f1);
    }
    .btn{
        @include primary-btn(small,reg, $background-color);
        color: $color1;
    }
    input{
        border-radius: 20px;
    }
    .card{
        border-color: $color1 !important;
        border-radius: 0;
        min-height: 70vh;
        max-height: 70vh;
        overflow: scroll !important;
    }
    th{
        color: $text-color !important;

    }
}

@keyframes blinker {
    10% {
        opacity: 0.3;
    }
    20% {
        opacity: 0.6;
    }
    50% {
      opacity: 0.9;
    }
}

@keyframes example {
    0%   {transform: translateY(0px)}
    50%  {transform: translateY(10px)}
    100% {transform: translateY(0px)}
}

._1{
    background-color: $color1 !important;
}

._2{
    background-color: pink;
}