@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');// font-family: 'Hammersmith One', sans-serif;
// font-family: 'Montserrat', sans-serif;
//font-family: 'Gochi Hand', cursive;


$color1:#594EC4;
$color2:#FFA9DC;
$color3:#B2B0F7;
$color4:#FFE993;
$background-color: #FFFFFF;
$text-color:#503c3c;
$plain: #DEDFFE;


$f1:'Hammersmith One', sans-serif;
$f2:'Montserrat', sans-serif;
$f3:'Gochi Hand', cursive;
$f4:'Signika', sans-serif;

$i: unquote("!important");
$bool: false;

$screen-size:(
    "regular": 480px,
    "medium": 767px,
    "large": 1390px,
    
);

$font-weight:(
    "small":400,
    "regular": 400,
    "medium":500,
    "large": 600,
    "bold": 800,
    
);

$font-size:(
        "tle":3rem,
        "h1":2rem,
        "h2":1.2rem,
        "lbl":1.2rem,
        "btn":1.2rem, //19px
        "reg":1rem, //16px
        "h":1.5rem,
    );


@function weight($weight-name){
    @return map-get($font-weight, $weight-name);
}
@function fontsize($fontsize-name){
    @return map-get($font-size, $fontsize-name);
}

@function fontstyle($fontstyle-name){
    @return map-get($font-style, $fontstyle-name);
}

@function screen($screensize-name){
    @return map-get($screen-size, $screensize-name);
}


@mixin flex_start{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

@mixin input-field{
    background-color: #EEEDF0 !important;
    border: solid 0px $color1;
    border-radius: 20px;
}

@mixin primary-btn ($weight-name,$fontsize-name, $color-name){
    color: $background-color;
    background-color: $color-name;
    font-family: 'Hammersmith One', sans-serif, Arial, Helvetica, sans-serif;
    font-weight: weight($weight-name);
    font-size: fontsize($fontsize-name);
    border-radius: 20px;
    box-shadow: none !important;
}

@mixin title-text($color-name, $weight-name, $fontsize-name, $fontstyle-name){
    font-family: $fontstyle-name, Arial, Helvetica, sans-serif;
    color: $color-name;
    font-weight: weight($weight-name);
    font-size: fontsize($fontsize-name);
}