@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background-color: white;
}

textarea, input, button {
  border: none !important;
  box-shadow: none !important;
}

nav {
  background: transparent !important;
}
nav .logo {
  height: 43px;
}
nav ul li {
  line-height: 40px;
  text-align: center;
}
nav ul li a {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4 !important;
  font-weight: 400;
  font-size: 1.2rem;
}
nav ul .profile-btn {
  color: #594EC4 !important;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
nav ul .reg-btn {
  color: #FFFFFF;
  background-color: #594EC4;
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 20px;
  box-shadow: none !important;
  color: #FFFFFF !important;
}
nav ul .reg-btn:active {
  background-color: #FFA9DC !important;
}
nav ul .dropdown .dropdown-menu {
  background-color: #FFFFFF !important;
  border: 1px solid #594EC4 !important;
  overflow: hidden !important;
}
nav ul .dropdown .dropdown-menu li a {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 400;
  font-size: 1.2rem;
}
nav ul .dropdown .dropdown-menu li a:hover {
  background-color: #FFA9DC !important;
  transition: 1s;
}
nav ul .nav-link:hover, nav ul .profile-btn:hover {
  color: #FFA9DC !important;
}

.reg-div {
  background-color: #FFFFFF;
  min-height: 80vh !important;
}
.reg-div .right-div h1 {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 600;
  font-size: 2rem;
}
.reg-div .right-div h2 {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #FFA9DC;
  font-weight: 400;
  font-size: 1.2rem;
}
.reg-div .right-div h2 a {
  text-decoration: none;
  color: #594EC4;
}
.reg-div .right-div a {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
}
.reg-div .right-div .form-group label {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 400;
  font-size: 1.2rem;
}
.reg-div .right-div .form-group .form-control, .reg-div .right-div .form-group input, .reg-div .right-div .form-group textarea {
  background-color: #EEEDF0 !important;
  border: solid 0px #594EC4;
  border-radius: 20px;
}
.reg-div .right-div .form-group input:focus, .reg-div .right-div .form-group textarea:focus {
  outline: none !important;
}
.reg-div .right-div .form-group .error-meessage {
  color: red;
  font-size: 1rem;
}
.reg-div .right-div button {
  color: #FFFFFF;
  background-color: #594EC4;
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 20px;
  box-shadow: none !important;
  filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
}
.reg-div .right-div button:active {
  background-color: #FFA9DC !important;
  color: #594EC4;
}

.verification {
  background-color: #FFFFFF;
  margin-top: 20vh;
}
.verification h1 {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 500;
  font-size: 1.5rem;
}
.verification p {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  color: #FFA9DC;
  font-weight: 500;
  font-size: 1rem;
}
.verification .form-group label {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 400;
  font-size: 1.2rem;
}
.verification .form-group label {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 400;
  font-size: 1.2rem;
}
.verification .form-group .form-control, .verification .form-group input, .verification .form-group textarea {
  background-color: #EEEDF0 !important;
  border: solid 0px #594EC4;
  border-radius: 20px;
}
.verification .form-group input:focus, .verification .form-group textarea:focus {
  outline: none !important;
}
.verification .form-group .error-meessage {
  color: red;
  font-size: 1rem;
}
.verification .button_1 {
  color: #FFFFFF;
  background-color: #594EC4;
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 20px;
  box-shadow: none !important;
  filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
}
.verification .button_1:active {
  background-color: #FFA9DC !important;
  color: #594EC4;
}
.verification .button_2 {
  background-color: #FFFFFF;
  color: #594EC4;
}
.verification .button_2:hover {
  color: #FFA9DC;
}

.home-div {
  background-color: #FFFFFF !important;
  min-height: 85vh;
}
@media screen and (min-width: 0px) {
  .home-div .right-div h1 {
    font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
    color: #594EC4;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.05em;
    font-size: 35px !important;
  }
  .home-div .right-div h2 {
    font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
    color: #503c3c;
    font-weight: 500;
    font-size: 1rem;
  }
}
@media screen and (min-width: 800px) {
  .home-div .right-div h1 {
    font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
    color: #594EC4;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 0.05em;
    font-size: 50px !important;
  }
  .home-div .right-div h2 {
    font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
    color: #503c3c;
    font-weight: 600;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1000px) {
  .home-div .right-div h1 {
    font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
    color: #594EC4;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 0.05em;
    font-size: 70px !important;
  }
  .home-div .right-div h2 {
    font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
    color: #503c3c;
    font-weight: 500;
    font-size: 1.2rem;
  }
}
.home-div .right-div h2 {
  line-height: 20px !important;
}
.home-div .right-div img {
  width: 100px !important;
}
.home-div .right-div button {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  color: #503c3c;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 10px !important;
  filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
}
.home-div .right-div .button_1 {
  background-color: #594EC4 !important;
  color: #FFFFFF !important;
}
.home-div .right-div .button_2 {
  background-color: #FFA9DC !important;
  color: #594EC4;
}
.home-div .right-div .button_1:active {
  background-color: #FFA9DC !important;
  color: #594EC4;
}
.home-div .right-div .button_2:active {
  background-color: #594EC4 !important;
  color: #FFFFFF;
}
.home-div .left-div {
  display: inline-block;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.records-div {
  background-color: #FFFFFF;
  min-height: 100vh !important;
}
.records-div .head-div {
  border-radius: 5px !important;
  filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
}
.records-div .head-div h3 {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 400;
  font-size: 2rem;
}
.records-div .head-div input {
  border: 2px solid #594EC4 !important;
  border-radius: 20px;
  color: #503c3c !important;
  outline: none !important;
}
.records-div .head-div .btn {
  color: #FFFFFF;
  background-color: #594EC4;
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 20px;
  box-shadow: none !important;
  color: #FFFFFF;
}
.records-div .head-div .btn:active {
  color: #FFFFFF;
  background-color: #FFA9DC;
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 20px;
  box-shadow: none !important;
  color: #594EC4;
}
.records-div .display-rec h3 {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 600;
  font-size: 1.5rem;
  font-weight: 600 !important;
  letter-spacing: 0.08em;
  line-height: 1em;
}
.records-div .display-rec h2 {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 600;
  font-size: 1rem;
}
.records-div .display-rec .dropdown button {
  background-color: transparent !important;
}
.records-div .display-rec .dropdown button img {
  height: 25px;
  width: 25px;
}
.records-div .display-rec .dropdown .dropdown-menu {
  background-color: #594EC4 !important;
  border: none !important;
  overflow: hidden !important;
}
.records-div .display-rec .dropdown .dropdown-menu li {
  overflow: hidden !important;
}
.records-div .display-rec .dropdown .dropdown-menu li a {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.2rem;
}
.records-div .display-rec .dropdown .dropdown-menu li a:hover {
  background-color: #FFA9DC !important;
  transition: 1s;
}
.records-div .display-rec p {
  min-height: 5vh;
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 400;
  font-size: 1rem;
}
.records-div .display-rec .react {
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 50px;
}
.records-div .display-rec .modify img {
  width: 25px;
  height: 25px;
}
.records-div .display-rec .modify .btn {
  color: #FFFFFF;
  background-color: #FFA9DC;
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 20px;
  box-shadow: none !important;
  background-color: #B2B0F7 !important;
  width: 50px;
}
.records-div .display-rec .react_div {
  background-color: #FFFFFF;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
}
.records-div .display-rec .react_div .react-btn {
  border-radius: 20px;
  overflow: hidden !important;
  padding: 0.5em !important;
  cursor: default !important;
}
.records-div .display-rec .react_div img {
  height: 25px;
  width: 25px;
}
.records-div .display-rec .react_div .Heart1, .records-div .display-rec .react_div .Happy2, .records-div .display-rec .react_div .Sad3, .records-div .display-rec .react_div .Neutral4 {
  background-color: #594EC4 !important;
}
.records-div .Heart_ {
  border-radius: 27px;
  background: linear-gradient(262.96deg, rgba(234, 146, 120, 0.06) 0.61%, rgba(234, 146, 120, 0.3) 96.39%);
}
.records-div .Happy_ {
  border-radius: 27px;
  background: linear-gradient(262.96deg, rgba(255, 233, 147, 0.06) 0.61%, rgba(255, 233, 147, 0.3) 96.39%);
}
.records-div .Sad_ {
  border-radius: 27px;
  background: linear-gradient(262.96deg, rgba(122, 189, 234, 0.06) 0.61%, rgba(122, 189, 234, 0.271892) 96.39%);
}
.records-div .Neutral_ {
  border-radius: 27px;
  background: linear-gradient(262.96deg, rgba(247, 166, 181, 0.06) 0.61%, rgba(247, 163, 179, 0.3) 96.39%);
}
.records-div ._ {
  border-radius: 27px;
  background: linear-gradient(262.96deg, rgba(89, 78, 196, 0.06) 0.61%, rgba(89, 78, 196, 0.3) 96.39%);
}
@media screen and (min-width: 0px) {
  .records-div .result_message h1 {
    font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
    color: #594EC4;
    font-weight: 600;
    font-size: 2rem;
  }
  .records-div .result_message h2 a {
    font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
    color: #594EC4;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none !important;
  }
  .records-div .result_message h3 a {
    font-family: "Gochi Hand", cursive, Arial, Helvetica, sans-serif;
    color: #FFA9DC;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none !important;
  }
}
@media screen and (min-width: 800px) {
  .records-div .result_message h1 {
    font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
    color: #594EC4;
    font-weight: 600;
    font-size: 3rem;
  }
  .records-div .result_message h2 a {
    font-family: "Gochi Hand", cursive, Arial, Helvetica, sans-serif;
    color: #594EC4;
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none !important;
  }
  .records-div .result_message h3 a {
    font-family: "Gochi Hand", cursive, Arial, Helvetica, sans-serif;
    color: #FFA9DC;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none !important;
  }
}
.records-div .page_div a:hover {
  background-color: #FFA9DC;
  border-radius: 20px;
}
.records-div .page_div .arrow_next {
  text-decoration: none !important;
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center !important;
  height: 2.5rem !important;
  background-color: #dbd8d8;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
}
.records-div .page_div .page_body {
  background-color: #dbd8d8;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
}
.records-div .page_div .page_body .page {
  text-decoration: none !important;
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
}
.records-div .page_div .page_body .active {
  background-color: #594EC4;
  border-radius: 20px;
  color: white;
}

.create-div {
  background-color: #FFFFFF;
}
@media screen and (min-width: 0px) {
  .create-div {
    min-height: 80vh;
  }
}
@media screen and (min-width: 800px) {
  .create-div {
    min-height: 90vh;
  }
}
.create-div .bot-div .character {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #FFA9DC;
  overflow: hidden !important;
}
.create-div .bot-div h3 {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 1em;
}
.create-div .bot-div h2 {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #503c3c;
  font-weight: 500;
  font-size: 1.2rem;
  font-weight: 300 !important;
}
.create-div .bot-div textarea {
  background-color: #EEEDF0 !important;
  border: solid 0px #594EC4;
  border-radius: 20px;
  background-color: #DEDFFE !important;
}
.create-div .bot-div textarea:focus {
  outline: none !important;
}
.create-div .bot-div ul {
  background-color: #DEDFFE;
  border-radius: 20px;
  list-style-type: none;
}
.create-div .bot-div ul li {
  border-radius: 20px;
  position: relative;
  overflow: hidden !important;
  padding: 0.5em !important;
}
.create-div .bot-div ul li:hover {
  background-color: #756FAE;
}
.create-div .bot-div ul img {
  height: 25px;
  width: 25px;
  position: relative;
}
.create-div .bot-div ul label {
  height: 100% !important;
  z-index: 1;
}
.create-div .bot-div ul input {
  width: 100% !important;
  height: 100% !important;
  opacity: 0;
  position: absolute;
  z-index: 0;
}
.create-div .bot-div ul .react_selected {
  background-color: #594EC4 !important;
  transition: 1s;
}
.create-div .bot-div ul .Heart1, .create-div .bot-div ul .Happy2, .create-div .bot-div ul .Sad3, .create-div .bot-div ul .Neutral4 {
  background-color: #594EC4 !important;
}
.create-div .bot-div .save-btn {
  color: #FFFFFF;
  background-color: #594EC4;
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 20px;
  box-shadow: none !important;
  filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
}
.create-div .bot-div .save-btn:active {
  color: #FFFFFF;
  background-color: #FFA9DC;
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 20px;
  box-shadow: none !important;
}

.profile-div {
  min-height: 100vh;
}
.profile-div .left-div {
  background-color: #DEDFFE;
  border-radius: 20px;
  overflow: hidden !important;
}
.profile-div .left-div .top-div {
  background-color: #594EC4;
}
.profile-div .left-div .top-div .dropdown button {
  background-color: transparent !important;
}
.profile-div .left-div .top-div .dropdown button img {
  height: 25px;
  width: 25px;
}
.profile-div .left-div .top-div .dropdown .dropdown-menu {
  background-color: #FFFFFF !important;
  border: none !important;
  overflow: hidden !important;
}
.profile-div .left-div .top-div .dropdown .dropdown-menu li {
  overflow: hidden !important;
}
.profile-div .left-div .top-div .dropdown .dropdown-menu li a {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 400;
  font-size: 1.2rem;
}
.profile-div .left-div .top-div .dropdown .dropdown-menu li a:hover {
  background-color: #FFA9DC !important;
  transition: 1s;
}
.profile-div .left-div .top-div .circle {
  background-color: #FFA9DC;
  width: 150px !important;
  height: 150px !important;
  border-radius: 50%;
}
.profile-div .left-div .top-div .circle h3 {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 3rem;
  font-size: 70px !important;
  line-height: 0;
}
.profile-div .left-div .top-div p {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.6rem;
  text-transform: uppercase;
}
.profile-div .left-div .bot-div .name {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  color: #503c3c;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-transform: uppercase;
}
.profile-div .left-div .bot-div .date {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.profile-div .left-div .bot-div button {
  color: #FFFFFF;
  background-color: #FFA9DC;
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 20px;
  box-shadow: none !important;
  color: #594EC4;
}
.profile-div .left-div .bot-div label {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 500;
  font-size: 1.2rem;
}
.profile-div .left-div .bot-div input {
  border-radius: 20px !important;
}

footer {
  background-color: #594EC4;
}
footer p {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 0;
  letter-spacing: 1px;
}
footer .initial {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: #FFFFFF;
  text-decoration: none !important;
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 600;
  font-size: 1.2rem;
}
footer .initial:hover {
  background-color: #FFA9DC;
  color: #594EC4;
  box-shadow: 0px 0px 16px 4px rgba(255, 169, 220, 0.8);
  transition: 1s;
  -webkit-animation: pulse 3s linear infinite;
          animation: pulse 3s linear infinite;
}
footer h3 {
  font-family: "Gochi Hand", cursive, Arial, Helvetica, sans-serif;
  color: #FFA9DC;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 0;
}
footer h3 a {
  text-decoration: none !important;
  color: #FFE993;
}
footer h3 a:hover {
  text-decoration: none !important;
  color: #FFE993;
}

.admin-login {
  min-height: 100vh;
}
.admin-login h2 {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 600;
  font-size: 2rem;
}
.admin-login .form-group label {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 400;
  font-size: 1.2rem;
}
.admin-login .form-group .form-control, .admin-login .form-group input, .admin-login .form-group textarea {
  background-color: #EEEDF0 !important;
  border: solid 0px #594EC4;
  border-radius: 20px;
}
.admin-login .form-group input:focus, .admin-login .form-group textarea:focus {
  outline: none !important;
}
.admin-login .form-group .error-meessage {
  color: red;
  font-size: 1rem;
}
.admin-login button {
  color: #FFFFFF;
  background-color: #594EC4;
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 20px;
  box-shadow: none !important;
  filter: drop-shadow(0px 4px 4px rgba(128, 127, 127, 0.25));
}
.admin-login button:active {
  background-color: #FFA9DC !important;
  color: #594EC4;
}

.admin .admin-1 h1 {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 500;
  font-size: 2rem;
}
.admin .admin-1 .acard {
  background-color: #DEDFFE;
  border-radius: 20px;
}
.admin .admin-1 .acard h2 {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 500;
  font-size: 3rem;
}
.admin .admin-1 .acard p {
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
  color: #594EC4;
  font-weight: 600;
  font-size: 1.2rem;
}
.admin .report {
  color: #FFFFFF;
  background-color: #594EC4;
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 20px;
  box-shadow: none !important;
}
.admin .report:hover {
  color: #FFA9DC !important;
}

.admin_usertable h3 {
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 2rem;
}
.admin_usertable .btn {
  color: #FFFFFF;
  background-color: #FFFFFF;
  font-family: "Hammersmith One", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 20px;
  box-shadow: none !important;
  color: #594EC4;
}
.admin_usertable input {
  border-radius: 20px;
}
.admin_usertable .card {
  border-color: #594EC4 !important;
  border-radius: 0;
  min-height: 70vh;
  max-height: 70vh;
  overflow: scroll !important;
}
.admin_usertable th {
  color: #503c3c !important;
}

@-webkit-keyframes blinker {
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.9;
  }
}

@keyframes blinker {
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.9;
  }
}
@-webkit-keyframes example {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes example {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=index.css.map */