@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background-color: #EBEAF1;
}

nav .logo {
  height: 40px;
}
nav ul li {
  line-height: 40px;
  text-align: center;
}
nav ul li a {
  font-family: "Hammersmith One", sans-serif;
  color: #554D9B !important;
  font-size: 1.2rem;
}
nav ul button {
  color: #EBEAF1 !important;
  background-color: #554D9B !important;
  font-family: "Hammersmith One", sans-serif;
  border-radius: 25px !important;
}

.reg-div {
  background-color: #EBEAF1;
  min-height: 80vh !important;
}
.reg-div .right-div h1 {
  font-family: "Hammersmith One", sans-serif;
  color: #554D9B;
  font-weight: 600;
  font-size: 2rem;
}
.reg-div .right-div h2 {
  font-family: "Hammersmith One", sans-serif;
  color: #EF9697;
  font-size: 1.2rem;
}
.reg-div .right-div h2 a {
  text-decoration: none;
  color: #554D9B;
}
.reg-div .right-div .form-group label {
  font-family: "Hammersmith One", sans-serif;
  color: #554D9B;
  font-size: 1.2rem;
}
.reg-div .right-div .form-group .form-control, .reg-div .right-div .form-group input, .reg-div .right-div .form-group textarea {
  background-color: #FFFFFF;
  border: solid 0px #554D9B;
  border-radius: 25px;
}
.reg-div .right-div .form-group input:focus, .reg-div .right-div .form-group textarea:focus {
  outline: none !important;
}
.reg-div .right-div .form-group .error-meessage {
  color: red;
  font-size: 1rem;
}
.reg-div .right-div button {
  color: #EBEAF1;
  background-color: #554D9B;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.2rem;
  border-radius: 25px;
}

.home-div {
  background-color: #FFFFFF;
  min-height: 70vh;
}
.home-div .right-div h1 {
  font-family: "Montserrat", sans-serif;
  color: #554D9B;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 0.05em;
}
.home-div .right-div h2 {
  font-family: "Montserrat", sans-serif;
  color: #EF9697;
  font-weight: 500;
  font-size: 1.2rem;
  font-size: 1.5rem !important;
}
.home-div .right-div button {
  color: #EBEAF1;
  background-color: #554D9B;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.2rem;
  border-radius: 25px;
}

.records-div .head-div {
  background-color: #554D9B;
  border-radius: 35px;
}
.records-div .head-div h3 {
  font-family: "Hammersmith One", sans-serif;
  color: #FFFFFF;
  font-size: 1.5rem;
}
.records-div .head-div input {
  border: none !important;
  border-radius: 25px;
  color: #503c3c !important;
}
.records-div .head-div .btn {
  color: #EBEAF1;
  background-color: #554D9B;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1rem;
  border-radius: 25px;
  background-color: #FFC7C5;
  color: #554D9B !important;
}
.records-div .display-rec .character {
  height: 40px;
  width: 40px;
  border-radius: 25px;
}
.records-div .display-rec .character img {
  width: 40px;
  height: 40px;
}
.records-div .display-rec h3 {
  font-family: "Montserrat", sans-serif;
  color: #554D9B;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  line-height: 1em;
}
.records-div .display-rec h2 {
  font-family: "Gochi Hand", cursive;
  color: #503c3c;
  font-weight: 500;
  font-size: 1.2rem;
  font-weight: 300 !important;
}
.records-div .display-rec p {
  min-height: 10vh;
  font-family: "Montserrat", sans-serif;
  color: #503c3c;
  font-size: 1rem;
}
.records-div .display-rec .react {
  background-color: #FFC7C5;
  border-radius: 25px;
  width: 50px;
}
.records-div .display-rec .modify img {
  width: 25px;
  height: 25px;
}
.records-div .display-rec .modify .btn {
  color: #EBEAF1;
  background-color: #554D9B;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.2rem;
  border-radius: 25px;
  background-color: #FFC7C5 !important;
  width: 50px;
}
.records-div .display-rec ul {
  background-color: #FFFFFF;
  border-radius: 25px;
  list-style-type: none;
}
.records-div .display-rec ul li {
  background-color: #FFFFFF !important;
  border-radius: 25px;
  position: relative;
  overflow: hidden !important;
  padding: 0.5em !important;
}
.records-div .display-rec ul img {
  height: 25px;
  width: 25px;
}
.records-div .display-rec ul label {
  height: 100% !important;
  z-index: 1;
}
.records-div .display-rec ul input {
  width: 100% !important;
  height: 100% !important;
  opacity: 0;
  position: absolute;
  z-index: 0;
}
.records-div .display-rec ul .Heart1, .records-div .display-rec ul .Happy2, .records-div .display-rec ul .Sad3, .records-div .display-rec ul .Neutral4 {
  background-color: #554D9B !important;
}
.records-div .display-rec .save-btn {
  color: #EBEAF1;
  background-color: #554D9B;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.2rem;
  border-radius: 25px;
}

.create-div {
  background-color: #EBEAF1;
  min-height: 80vh;
}
.create-div .top-div {
  background-color: #554D9B;
  border-radius: 25px;
}
.create-div .top-div h2 {
  font-family: "Hammersmith One", sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 2rem;
}
.create-div .bot-div .character {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  background-color: #FFC7C5;
  overflow: hidden !important;
}
.create-div .bot-div h3 {
  font-family: "Montserrat", sans-serif;
  color: #554D9B;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 1em;
}
.create-div .bot-div h2 {
  font-family: "Gochi Hand", cursive;
  color: #503c3c;
  font-size: 1.5rem;
  font-weight: 300 !important;
}
.create-div .bot-div textarea {
  background-color: #FFFFFF;
  border: solid 0px #554D9B;
  border-radius: 25px;
  font-style: "Gochi Hand", cursive !important;
}
.create-div .bot-div ul {
  background-color: #FFFFFF;
  border-radius: 25px;
  list-style-type: none;
}
.create-div .bot-div ul li {
  border-radius: 25px;
  position: relative;
  overflow: hidden !important;
  padding: 0.5em !important;
}
.create-div .bot-div ul li:hover {
  background-color: #554D9B;
  padding: 0em !important;
}
.create-div .bot-div ul li:hover img {
  height: 30px;
  width: 30px;
}
.create-div .bot-div ul img {
  height: 25px;
  width: 25px;
}
.create-div .bot-div ul label {
  height: 100% !important;
  z-index: 1;
}
.create-div .bot-div ul input {
  width: 100% !important;
  height: 100% !important;
  opacity: 0;
  position: absolute;
  z-index: 0;
}
.create-div .bot-div ul .react_selected {
  background-color: #554D9B !important;
}
.create-div .bot-div ul .inv {
  position: relative;
}
.create-div .bot-div .save-btn {
  color: #EBEAF1;
  background-color: #554D9B;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.2rem;
  border-radius: 25px;
}

._1 {
  background-color: #554D9B !important;
}

._2 {
  background-color: pink;
}/*# sourceMappingURL=index.css.map */